/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto; /* Устанавливаем, что тело страницы может прокручиваться */
}

:root {
	--index: calc(1vw + 1vh);
}

@font-face {
	font-family: unbounded-light;
	src: url(../fonts/Unbounded-Light.ttf);
}

@font-face {
	font-family: unbounded-regular;
	src: url(../fonts/Unbounded-Regular.ttf);
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover; 
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px; 
    margin-bottom: 50px; 
}

.row {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    width: 100%; 
    margin: 10px 0; 
}

.square {
    width: 700px;
    height: 740px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(27, 27, 27, 0.587);
    box-shadow: 0 4px 8px rgba(57, 45, 45, 0.1);
    border-radius: 35px;
    overflow: hidden;
    border: 3px solid white;
    color: white;
    opacity: 0; 
    animation: fadeIn 0.5s ease forwards 6s; 
    font-size: calc(var(--index) * 0.8);
    /* text-transform: uppercase; */
    font-family: unbounded-light;
    transition: background-color 0.2s ease-out, filter 0.3s ease;
}

.square:hover {
    background-color: rgba(27, 27, 27, 0.682);
    filter: brightness(86%); 
}

.square:hover img {
    filter: brightness(86%); 
}

.square button {
	font-family: Arial;
	font-weight: 300;
	text-transform: uppercase;
	font-size: calc(var(--index) * .71);
	letter-spacing: -.02vw;
	padding: calc(var(--index) * .6) calc(var(--index) * 1.15);
	background-color: transparent;
	color: #fff;
	border-radius: 10em;
	border: rgb(255 255 255 / .4) 3px solid;
	outline: none;
	cursor: pointer;
    margin-bottom: 35px;
    transition: background-color 0.07s ease-out;
}

.square button:hover {
    background-color: #3756d2c2;
}

.square button:active {
    background-color: #3756d27b;
}

canvas.rain {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    pointer-events: none; 
    z-index: 2; 
}

.square img {
    width: 100%;
    height: 70%;
    margin-top: 0px;
    margin-bottom: 30px;
    border: 2px solid white;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.header {
    opacity: 0;
    text-transform: uppercase;
	font-size: calc(var(--index) * 2);
    color: white;
    animation: fadeIn 0.5s ease forwards 6s;
    font-family: unbounded-regular;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.929);
}